$negro: #272727;
$blanco: #ffffff;
$gris-fondo: #f8f7f6;
$gris-fondo-trans: #f8f7f6e7;
$gris-claro: #dfdcda;
$rosa: #d8395e;
$rosa-fondo: #d8395e8c;
$fondo: #4E5340;
$bg-dark: #343a40;
$fondo-gradiente: linear-gradient(141deg, #f8f9fa 25%, #eee 40%, #ddd 55%);

