// Index

.mainSection {
    background-image: url(../images/fondoHojas1.jpg);
    background-repeat: no-repeat;
    height: 500px;
}

.mainSection__h {
    font-weight: bolder;
    font-size: 4rem;
    color: $blanco;
    text-shadow: 2px 2px 2px $negro;
    padding: 15% 0 15% 15%;
}

.mainSection__p {
    font-weight: bold;
    font-size: 2rem;
    text-align: left;
    padding: 15% 15% 15% 5%;
    color: $blanco;
    text-shadow: 2px 2px 2px $negro;
    animation-name: fade;
    animation-iteration-count: 1;
    animation-duration: 4s ;
}

@media (max-width: 575px){
    .mainSection__p{
        padding: 0 15% 0 15%;
    }
    .mainSection__h{
        padding: 15% 15% 0 15%;
    }
}

.noStyle {
    box-shadow: none;
    transition: none;
    &:hover {
        transform: none ;
    }
}

.link {
    color: $rosa;
    font-weight: bold;
    &:hover {
        color: $rosa;
        font-weight: bold;
    }
}

.divId {
    padding: 55px;
}

$lista: (1,2,3);


@each $var in $lista {
    .serviceSection#{$var} {
        background-image: url(../images/imagen#{$var+5}.jpg) ;
        background-repeat: round;
        font-size: 1.2rem;
        color:$negro;
        text-align: center;
        border: $gris-claro;
        height: 250px;
        padding: 50px;
        position: relative;
    }

    .serviceSection#{$var}:before {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.4);
        transition: all;
    }   

    .serviceSection#{$var} {
        i, h3, p {
        color: $blanco;
        text-shadow: 2px 2px 2px $negro;
        position: relative;
        }
    }
}
