/* Viviendas y Jardines*/

%fondo {
    h1 {
        display: none;
    }
}

// Viviendas

.containV {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    overflow: hidden;
    justify-content: center;
    .containV__img {
        width: 100%;
        height: 300px;
        transition: all 0.5s;
        &:hover {
        transform: scale(1.01) ;
        }
    }
}

@media (min-width: 1200px) {
    .containV {
        grid-template-columns: repeat(2, 61.7rem);
    }
}

@media (max-width: 922px) {
    .containV {
        grid-template-columns: 61.7rem;
    }
}

@media (max-width: 620px) {
    .containV {
        grid-template-rows: 1fr;

    }
}

.fondoV {
    @extend %fondo;
}

// Paisajes y jardines

.containJ {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

@media (min-width: 1200px) {
    .containJ {
        grid-template-columns: repeat(3, 36rem);
    }
}

@media (max-width: 922px) {
    .containJ {
        grid-template-columns: 36rem;
    }
}

@media (max-width: 400px) {
    .containJ {
        grid-template-rows: 1fr;
    }
}

.containJ__effect {
    display: grid;
    position: relative;
    height: 48rem;
    text-align: center;
    color: transparent;
    align-content: center;
    transition: 0.5s ease-in-out;
    font-weight: bold;
    h2 {
        text-transform: uppercase;
        transition: color 0.5s;
    }
    p {
        font-size: 1.2rem;
        color: transparent;
        transition: color 0.5s;
    }
    &:hover {
      background-color: $gris-fondo-trans;
      h2{
          color: $negro;
      }
      p {
          color: $rosa;
        }
    }
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
}

.background__image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
}

.fondoJ {
    @extend %fondo;
}


/* Contacto */

.container__form {
    margin-top: 50px;
    width: 100%;
    max-width: 800px;
    font-size: 1.5rem;
    line-height: 3rem;
    width: 60%;
    h1 {
        font-size: 2rem;
    }
}

/* Sobre mi */

.aboutMe {
    margin-top: 50px;
    img {
        box-shadow: 2px 2px 2px $negro;
    }
}

.aboutMe__p {
    padding: 6rem 6rem 0 0;
    h1 {
        font-size: 2rem;
        color: $rosa;
    }
    p {
        font-size: 1.5rem;
    }
}

@media (max-width: 992px) {
    .aboutMe__p {
    padding: 15px;
    }
}

/* Tienda */

.tienda__h {
    font-size: 2.5rem;
    margin: 20px;
    text-align: center;
}
  
.alert {
    position: fixed;
    right: 0;
    top: 90px;
    z-index: 1000;
    font-size: 1.3rem;
}
  
#sctProducts, #sctCart, #sctPurchase {
    p {
        font-size: 1.3rem;
    }
    button {
        font-size: 1.1rem;
    }
}
    
#btnSave {
    position: fixed;
    top: 160px;
    right: 10px;
    z-index: 1001;
    i {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    #btnSave i {
    font-size: 2vw;
    }
}
  
.filter {
    font-size: 1.3rem;
    text-align: start;
}
  
.card__style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}
  
.containPrice h3 {
    text-align: right;
    font-size: 1.3rem;
    font-weight: bold;
}
  
.modal-body div {
    margin-bottom: 10px;
}