/* Viviendas y Jardines*/

%fondo {
    h1 {
        display: none;
    }
}

// Viviendas

.containV {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    overflow: hidden;
    justify-content: center;
    .containV__img {
        width: 100%;
        height: 300px;
        transition: all 0.5s;
        &:hover {
        transform: scale(1.01) ;
        }
    }
}

@media (min-width: 1200px) {
    .containV {
        grid-template-columns: repeat(2, 61.7rem);
    }
}

@media (max-width: 922px) {
    .containV {
        grid-template-columns: 61.7rem;
    }
}

@media (max-width: 620px) {
    .containV {
        grid-template-rows: 1fr;

    }
}

.fondoV {
    @extend %fondo;
}

// Paisajes y jardines

.containJ {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

@media (min-width: 1200px) {
    .containJ {
        grid-template-columns: repeat(3, 36rem);
    }
}

@media (max-width: 922px) {
    .containJ {
        grid-template-columns: 36rem;
    }
}

@media (max-width: 400px) {
    .containJ {
        grid-template-rows: 1fr;
    }
}

.containJ__effect {
    display: grid;
    position: relative;
    height: 48rem;
    text-align: center;
    color: transparent;
    align-content: center;
    transition: 0.5s ease-in-out;
    font-weight: bold;
    h2 {
        text-transform: uppercase;
        transition: color 0.5s;
    }
    p {
        font-size: 1.2rem;
        color: transparent;
        transition: color 0.5s;
    }
    &:hover {
      background-color: $gris-fondo-trans;
      h2{
          color: $negro;
      }
      p {
          color: $rosa;
        }
    }
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
}

.background__image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
}

.fondoJ {
    @extend %fondo;
}


/* Contacto */

.cuadroCont {
    margin-top: 50px;
    max-width: 576px;
    font-size: 1.5rem;
    line-height: 3rem;
    width: 60%;
    h1 {
        font-size: 2rem;
    }
}

/* Sobre mi */

.aboutMe {
    margin-top: 50px;
    img {
        box-shadow: 2px 2px 2px $negro;
    }
}

.aboutMe__p {
    padding: 6rem 6rem 0 0;
    h1 {
        font-size: 2rem;
        color: $rosa;
    }
    p {
        font-size: 1.5rem;
    }
}

@media (max-width: 992px) {
    .aboutMe__p {
    padding: 15px;
    }
}