@import "colores";
@import "index";
@import "pages";

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    // outline: solid 1px tomato !important;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

html {
    font-size: 62.5%;
}

body {
    color:$negro;
    background: $fondo-gradiente;
    font-family: 'Montserrat', serif;
    animation-name: fade;
    animation-iteration-count: 1;
    animation-duration: 2s ;
}

// Barra navegación

nav {
    font-size: 1.5rem;
    opacity: 0.95;
    .dropdown-menu {
        font-size: 1.5rem;
    }
}

.dropdown .dropdown-menu {
    background-color: $bg-dark;
}

.dropdown-menu .dropdown-item {
    background-color: $bg-dark; 
    color: rgba(255,255,255,.5);
    &:hover{
        color: rgba(255,255,255,.75)
    }
}

// Secciones

section {
    margin-bottom: 150px;
}

a {
    text-decoration: none;
    color: $negro;
    &:hover {
        text-decoration: none;
        color: $negro;
    }
}

article {
    h2 {
        margin: 10px 0px 10px 0px;
        padding: 15px;
        font-size: 1.8rem;
        color: $negro;
    }

    img {
        box-shadow: 0 0 6px $negro;
        transition: all 0.5s;
        &:hover {
            transform: scale(1.01) ;
        }
    }

    p {
        margin-top: 10px;
        padding: 15px;
        font-size: 1.5rem;
        line-height: 20px;
        color: $negro;
    }
}

// Footer

footer {
    background-image: url(../images/footer1.png);
    background-repeat: repeat;
    font-weight: bold;
    height: 350px;
    p a {
        color: $negro;
        font-size: 1.8rem;
    }
    i, p {
        color: $negro;
    }
    iframe {
        padding: 10px;
        margin-top: 2rem;
    }
}

.mapa {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

@media (max-width: 576px){
    .mapa {
        display: none;
    }
}

.datosContacto {
    font-size: 1.5rem;
    padding: 5rem;
}

.autor {
    color: $negro;
    text-align: center;
}